/* STEP 1: Configure an element to be animated*/

#animated-shape{
    background: steelblue ;
    width: 200px;
    height: 200px;
/* Sub-properties to attach an animation  */
    animation-name:colorchange-alt;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
/* STEP 2: Define an animation sequence */   
}
@keyframes colorchange{
    from{background:steelblue;}
    to{background: aquamarine;}

}
@keyframes colorchange-alt{
    0% {background:steelblue ;}
    50%{
         background:aquamarine ;
         transform: scale(0.5);
        }
    100%{background:steelblue ;}

}


.box{
    background: lightblue;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}

/* TRANSFORM is a property with function values that change elements in various ways */

#rotate{
    transform: rotate(350deg);
}
#scale{ /*scale 1 is original. Less then 1 is smaller, greater then 1 is larger */
    transform: scale(0.6);
}
#skew{
    transform: skew(-40deg);
}
/* translate(x)/(y) just use 1 number moves along x/y axis. Use translate(x,y) to move along both axis */
#translate{
    transform: translate(325px,100px);
}
/* you can chain multiple transforms on the same element */
#chain{
    transform: rotate(20deg) translate(90px) scale(2) skew(10deg);


}
